<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="OrviSoft_PreReg::prereg" title="PreReg Submitions" module="OrviSoft_PreReg" sortOrder="80" parent="Magento_Sales::sales" action="prereg/prereg" resource="OrviSoft_PreReg::prereg"/>

    </menu>
</config>